* {
  margin: 0;
  padding: 0;
}

.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("src/assets/HeaderBG.jpg");
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
}

.HeaderRow h1 {
  color: white;
  margin-bottom: 0;
}
.HeaderRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.InputRow {
  display: flex;
  justify-content: center;
}

form .InputButton {
  padding: 1rem 1.5rem;
}

.button {
  font-weight: 500;
  font-size: smaller;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button:hover {
  background-color: hsla(216, 100%, 40%);
}

.delete-button {
  font-size: smaller;
  background-color: hsla(265, 81%, 70%, 0.7);
  height: 50px;
  padding: 0 10px;
}

.delete-button:hover {
  background-color: hsla(265, 81%, 80%, 0.7);
}

.move-button {
  background-color: hsla(226, 88%, 70%, 0.7);
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

.move-button:hover {
  background-color: hsl(226, 88%, 80%, 0.7);
}

input[type="text"] {
  font-size: 1.5rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol {
  padding: 0 !important;
}

li {
  font-size: 1.5rem;
  padding: 10px;
  background-color: hsla(0, 0%, 97%);
  border: 1px solid hsla(0, 0%, 0%, 0.5);
  border-radius: 1px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1; /* flex-grow: 1;
             flex-shrink: 1;
            flex-basis: 0%; */
}
